body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf7ed;
    color: #333;
    font-size: 1em;
    background-image: url('../img/bc.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #4caf50;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 4em;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.9em;
    padding: 15px 30px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #4caf50;
}

section {
    padding: 40px;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#military-education,
#military-projects,
#esprit-education,
#esprit-projects {
    background-color: #c8e6c9; 
}

.education-block,
.project {
    display: flex;
    align-items: center;
    text-align: left;
}

.education-block img,
.project img {
    width: 15%;
}
footer {
    text-align: center;
    margin-top: 1px;
    color: black;
    padding: 20px;
    background-color: #4caf50;
}

footer p {
    font-size: 1.5em;
    margin: 0;
}

footer a {
    margin-right: 10px;
}

footer a img {
    width: 65px;
    height: auto;
}
#military-education p{
    font-size:20px ;
    margin:3%;  

}
#military-education h2{
    color: #4caf50;

    
}
#military-projects h2{
    color: #4caf50;
}
#esprit-education h2{
    color: #4caf50;
    font-size: 1.4em;

}
#military-projects h3{
    color: black;
    font-size: 1.4em;
}
#esprit-projects h2{
    color: #4caf50;
    font-size: 1.4em;

}
#military-projects p{
    color: black;
    font-size: 1.1em;
}
#esprit-education p{
    color:black;
    font-size: 1.2em;
    margin: 2%;
}
#esprit-projects h3{
    color :black;   
    font-size: 1.4em;
    margin: 1%;
}
#esprit-projects p{
    color :black;   
    font-size: 1.2em;
}
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }